

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
    font-family: 'Open Sans', sans-serif;
  }
  *:is(::after,::before){
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
  body{
    font-family: 'Open Sans', sans-serif;
  }
  #userBooking_header{
    background-color:  #28293E;
    display: grid;
    grid-template-columns: repeat(2,auto);
  
  }
  #logo{
    color:white;
    font-size: 20px;
    font-weight: 700;
    display: grid;
    justify-content: start;
    justify-items: center;
    align-items: center;
  }
  #logo>div{
    padding: 20px;
  }
  header nav{
    display: grid;
    grid-template-columns: repeat(3,auto);
    align-items: center;
    justify-items: center;
    justify-content: end;
    font-weight: bold;
  }
  header nav a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 20px;
  }
  #container{
    display: grid;
    grid-template-columns: 20vw 75vw;
    justify-content: space-between;
    height:100vh;
    margin:15px;
  }
  #container_left{
    border-radius: 2vw;
    background-color: #28293E;
    opacity: 1;
    font-weight: bold;
  }
  #profile_view{
    display: grid;
    justify-items: center;
    align-items: center;
    margin-top: 15px;
    height:30vh;
    border-bottom: 1px solid white;
  }
  #profile_pht{
    height:100px;
    width:100px;
    border-radius: 50%;
    background-color: aliceblue;
  }
  #profile_name{
    color: white;
    font-weight: bold;
  }
  #side_bar{
    margin-top: 10px;
    display: grid;
    justify-items: center;
  }
  #side_bar a{
    text-decoration: none;
    color: white; 
    /* border: 1px solid red;   */
    padding: 7px 0px 7px 0px ; 
    width: 90%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  #container_right{
    border-radius: 2vw;
    /* background-color: beige; */
  }
  #side_bar a:hover{
    background-color: aliceblue;
    color: #28293E;
    border-radius: 2vh;
  }
  
  .chair{
    width: 20%;
    height: 25px;
    background-color: green;
    margin:10px;
    position: relative;
    top: -36px;
    left: 70px;
    flex-wrap: wrap;
    border-radius: 5px;
    align-self: stretch;
   
    
  }
  
  .table{
    width: 35%;
    height: 130px;
    background: rgba(159, 244, 249, 0.904);
    margin: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    min-width: 20px;
    border-radius: 20px;
    justify-content: space-evenly;
  
  
  }
  
  
  .chair:nth-child(3) {
    position: relative;
    left: -80px;
    top: 120px;
  }
  .chair:nth-child(4) {
    position: relative;
    top: 120px;
    left: -80px;
  }
  
  .available{
    background-color: green;
  }
  .danger {
    background-color: red;
  }
  
  .booked {
    background-color: orange;
  }
  
   body a{
    color: white;
    text-decoration: none;
    align-self: stretch;
    padding: 0px;
    font-weight: 1000;
    margin-top: 0%;
  }
  .seat {
    background-color:green;
    height: 26px;
    width: 32px;
    margin: 3px;
    font-size: 50px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  
  .seat.selected {
    background-color:orange;
  }
  
  .seat.sold {
    background-color: rgb(250, 8, 8);
  }
  
  .showcase {
    margin: 40px;
    margin-right: auto;
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
    list-style-type: none;
    display: flex;
    justify-content: right;
   align-self: flex-end;
    
  }
  
  .showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0px;
  }
  .showcase li small {
    margin-left: 2px;
  }
  
  
  .Seat-container {
    margin: 0 0;
  }
  
  .Seat-container select {
    background-color: #fff;
    border: 3px solid black;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  
  }
  
  .opt{
    display: flex;
    width: 900px;
   height: 30px;
   align-self: flex-start;
   justify-content: center;
   justify-content: space-evenly;
  }
  .container{
    background-color: rgb(252, 254, 254);
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: wrap;
    margin: 50px;
  }
  .date input {
    background-color: #fff;
    border: 3px solid black;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  
  }
  .down{
    margin:15px;
    justify-content: center;
    align-items: center;
  }