#wingContainer{
    display: grid;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    height:50vh;
    margin:5vh;
}
#wingContainer>a{
    text-decoration: none;
    background-color: #00C6C3;
    height: 20vh;
    width: 50vw;
    display: grid;
    justify-items: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 30px;
}