#wingButton{
    display: grid;
    justify-content: center;
    height:100vh;
    color: white;
    font-size: 5vh;
    font-weight: bold;
    margin:20px;
    align-items: center;
}   
#deleteWing{
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #00C6C3;
    height:20vh;
    width:50vw
}
#addTable{
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #00C6C3;
    height:20vh;
    
}

