
#wingContainer{
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
#wingCreation{
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    height:50vh;
    width: 50vw;
    font-size: large;
}
#message{
    height:20vh;
    width: 75vw;
    text-align: center;
}