#wingButton{
    display: grid;
    justify-content: center;
    height:80vh;
    color: white;
    font-size: 5vh;
    font-weight: bold;
    margin:20px;
    align-items: center;
    
}   
#deleteWing{
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #00C6C3;
    height:20vh;
    width:50vw;
    
}
#addTable{
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #00C6C3;
    height:20vh;
    
}

.block{
    display:block;
}
#wingDeleting{
    display: none;
}
#wingDeleting>div{
    display: grid;
    color: black;
    justify-items: center;
    align-items: center;
    height: 25vh;
    
}
#wingDeleting>div>select{
    height:40px;
    width: 80%;
    text-align: center;
}
#wingDeleting>div>button{
    height:40px;
    width: 60%;
    background-color: greenyellow;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 2vw;
}
