<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Seat Availability</title>
    <link rel="stylesheet" href="../css/seat.css" />
    <link rel="stylesheet" href="../css/booking.css" />
  </head>

  <body>
    <header id="userBooking_header">
      <div id="logo">
        <div>Space - o</div>
      </div>
      <nav>
        <!-- <a href="#"><div id="dashboard">Dashboard</div></a> -->
        <a href="#">
          <div id="profile">Profile</div>
        </a>
        <a href="#">
          <div id="logout">Logout</div>
        </a>
      </nav>
    </header>
    <div id="container">
      <div id="container_left">
        <div id="profile_view">
          <div id="profile_pht"></div>
          <div id="profile_name">Profile</div>
        </div>
        <nav id="side_bar">
          <a href="./userBooking.html">
            <div id="wingEdit">Wings</div>
          </a>
          <a href="./booking.html">
            <div>Booking</div>
          </a>
          <a href="./seat.html">
            <div id="">Seat Avalilability</div>
          </a>
        </nav>
      </div>
      <div id="container_right">
        <div class="opt">
          <div class="Seat-container">
            <label> Select a WING:</label>
            <select id="wing" placeholder="Select">
              <option value="" disabled selected>Select</option>
              <option value="1">Digital</option>
              <option value="2">Creative</option>
              <option value="3">print</option>
            </select>
          </div>
          <div class="date">
            <label>Pick a date</label>
            <input type="date" id="date" required />
          </div>
          <div class="Slot">
            <label for="select">Select Slot :</label>
            <select id="shift" placeholder="Select">
              <option value="" disabled selected>Select</option>
              <option value="1">APAC</option>
              <option value="2">EMEA</option>
              <option value="3">US</option>
            </select>
          </div>
          <div class="but">
            <button class="Check" id="check">Check</button>
          </div>
        </div>
        <div class="down">
          <ul class="showcase">
            <li>
              <div class="seat"></div>
              <small>Available</small>
            </li>
            <li>
              <div class="seat selected"></div>
              <small>Booked </small>
            </li>
            <li>
              <div class="seat sold"></div>
              <small>Occupied</small>
            </li>
          </ul>
        </div>
        <div class="container" id="cont"></div>
      </div>
    </div>

    <!-- available popup starts -->
    <div class="modal-section modal" id="modal-section-available">
      <div class="modal-container">
        <div class="modal-header">
          <div class="title">Book the Seat</div>
          <button id="close-btn" class="close-btn">&times;</button>
        </div>
        <div class="modal-body">
          <div id="seatbooking-form">
            <div class="form-input">
              <div class="form-input-radio-btns">
                <div class="form-radio-btn">
                  <input type="radio" name="bookingType" value="0" checked />
                  Normal
                </div>
                <div class="form-radio-btn">
                  <input type="radio" name="bookingType" value="1" />
                  Advanced
                </div>
              </div>
            </div>
            <div class="form-input">
              <label for="desk-id"> Desk Id </label>
              <input type="text" id="desk-id" name="deskId" data-seat-id />
            </div>
            <div class="form-input">
              <label for="emp-id"> Emp Id <span>*</span></label>
              <input
                type="text"
                list="empIds"
                name="browser"
                id="emp-id"
                name="empId"
                placeholder="T10148"
                data-emp-ref-id
              />
              <datalist id="empIds">
                <option value="T10148" employeeId="1"></option>
                <option value="T10149" employeeId="2"></option>
                <option value="T10150" employeeId="3"></option>
                <option value="T10151" employeeId="4"></option>
                <option value="T10152" employeeId="5"></option>
              </datalist>
            </div>
            <div class="form-input">
              <label for="date"> Choose Date <span>*</span></label>
              <input type="date" id="popupDate" name="date" />
            </div>
            <div class="form-input">
              <label for="time"> Chooose Time<span>*</span> </label>
              <select name="time" id="time">
                <option value="select" selected disabled>Select</option>
                <option value="1">APAC</option>
                <option value="2">APEX</option>
              </select>
            </div>
            <div class="form-submit">
              <button type="submit" id="submit-btn">Book Now</button>
            </div>
          </div>
          <div id="message"></div>
        </div>
      </div>
    </div>
    <div id="overlay" class="overlay"></div>
    <!-- available popup ends -->

    <!-- occupied popup starts -->
    <div class="modal-section modal" id="modal-section-occupied">
      <div class="modal-container">
        <div class="modal-header">
          <div class="title">Book the Seat</div>
          <button id="close-btn-occupied" class="close-btn">&times;</button>
        </div>
        <div class="modal-body">
          <p>This seat is already occupied</p>
        </div>
      </div>
    </div>
    <div id="overlay-occupied" class="overlay"></div>
    <!-- occupied popup ends -->

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../js/booking-module.js"></script>
  </body>
</html>
