<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Booking </title>
  <link rel="stylesheet" href="../css/seat.css" />
  <link rel="stylesheet" href="../css/booking.css" />
  <link rel="stylesheet" href="../css/nav.css" />
</head>

<body>
  <header class="header">
    <div class="common-container">
      <div class="header-row">
        <div class="header-logo">
          <a href="#">
            <h3>Space - O</h1>
          </a>
        </div>
        <button class="menu-icon-btn" data-menu-icon-btn>
          <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" class="menu-icon">
            <g>
              <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
            </g>
          </svg>
        </button>
        <ul class="header-list">
          <li class="header-list-item">
            <a href="#" class="sidebar-link">
              <svg class="sidebar-icon" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false">
                <g>
                  <path d="M3 13h8V3H3v10zm0 8h8v-6H3v6zm10 0h8V11h-8v10zm0-18v6h8V3h-8z"></path>
                </g>
              </svg>
              <div class="header-list-item-name">Profile</div>
            </a>
          </li>
          <li class="header-list-item">
            <a href="/logout" class="sidebar-link">
              <svg class="sidebar-icon" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false">
                <g>
                  <path d="M3 13h8V3H3v10zm0 8h8v-6H3v6zm10 0h8V11h-8v10zm0-18v6h8V3h-8z"></path>
                </g>
              </svg>
              <div class="header-list-item-name">Logout</div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </header>
  <div class="main-container">
    <aside class="sidebar open" data-sidebar>
      <div class="top-sidebar">
        <a href="#" class="profile-logo">
          <img src="../img/profile-pic.jpg" alt="Profile Picture" />
        </a>
        <div class="hidden-sidebar your-profile">John Doe</div>
        <div class="hidden-sidebar profile-name">T20148</div>
      </div>
      <div class="middle-sidebar">
        <ul class="sidebar-list">
          <li class="sidebar-list-item active">
            <a href="./home" class="sidebar-link">
              <svg class="sidebar-icon" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false">
                <g>
                  <path d="M3 13h8V3H3v10zm0 8h8v-6H3v6zm10 0h8V11h-8v10zm0-18v6h8V3h-8z"></path>
                </g>
              </svg>
              <div class="hidden-sidebar">Dashboard</div>
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="./userBooking" class="sidebar-link">
              <svg viewBox="0 0 24 24" class="sidebar-icon" preserveAspectRatio="xMidYMid meet" focusable="false">
                <g>
                  <path
                    d="M4 6H2v14c0 1.1.9 2 2 2h14v-2H4V6zm16-4H8c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-8 12.5v-9l6 4.5-6 4.5z">
                  </path>
                </g>
              </svg>
              <div class="hidden-sidebar">Wings</div>
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="./seat" class="sidebar-link">
              <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" class="sidebar-icon">
                <g>
                  <path
                    d="M20 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zM4 12h4v2H4v-2zm10 6H4v-2h10v2zm6 0h-4v-2h4v2zm0-4H10v-2h10v2z">
                  </path>
                </g>
              </svg>
              <div class="hidden-sidebar">Seat Availability</div>
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="./booking" class="sidebar-link">
              <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" class="sidebar-icon">
                <g>
                  <path
                    d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zM9 17H7v-7h2v7zm4 0h-2V7h2v10zm4 0h-2v-4h2v4z">
                  </path>
                </g>
              </svg>
              <div class="hidden-sidebar">New Booking</div>
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="./my-booking" class="sidebar-link">
              <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" class="sidebar-icon">
                <g>
                  <path
                    d="M20 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zM4 12h4v2H4v-2zm10 6H4v-2h10v2zm6 0h-4v-2h4v2zm0-4H10v-2h10v2z">
                  </path>
                </g>
              </svg>
              <div class="hidden-sidebar">My Booking</div>
            </a>
          </li>
        </ul>
      </div>
    </aside>
    <main class="content">
      <div id="container_right">
        <div class="opt">
          <div class="Seat-container">
            <label> Select a WING:</label>
            <select id="wing" placeholder="Select">
              <option value="" disabled selected>Select</option>
              <option value="1">Creative</option>
              <option value="2">Digital</option>
              <option value="3">print</option>
            </select>
          </div>
          <div class="date">
            <label>Pick a date</label>
            <input type="date" id="date" required />
          </div>
          <div class="Slot">
            <label for="select">Select Slot :</label>
            <select id="shift" placeholder="Select">
              <option value="" disabled selected>Select</option>
              <option value="1">APAC</option>
              <option value="2">EMEA</option>
              <option value="3">US</option>
            </select>
          </div>
          <div class="but">
            <button class="Check" id="check">Check</button>
          </div>
        </div>
        <div class="down">
          <ul class="showcase">
            <li>
              <div class="seat"></div>
              <small>Available</small>
            </li>
            <li>
              <div class="seat selected"></div>
              <small>Booked </small>
            </li>
            <li>
              <div class="seat sold"></div>
              <small>Occupied</small>
            </li>
          </ul>
        </div>
        <div class="container" id="cont"></div>
      </div>
    </main>
  </div>

  <!-- available popup starts -->
  <div class="modal-section modal" id="modal-section-available">
    <div class="modal-container">
      <div class="modal-header">
        <div class="title">Book the Seat</div>
        <button id="close-btn" class="close-btn">&times;</button>
      </div>
      <div class="modal-body">
        <div id="seatbooking-form">
          <div class="form-input">
            <div class="form-input-radio-btns">
              <div class="form-radio-btn">
                <input type="radio" name="bookingType" value="0" checked />
                Normal
              </div>
              <div class="form-radio-btn">
                <input type="radio" name="bookingType" value="1" />
                Advanced
              </div>
            </div>
          </div>
          <div class="form-input">
            <label for="desk-id"> Desk Id </label>
            <input type="text" id="desk-id" name="deskId" data-seat-id />
          </div>
          <div class="form-input">
            <label for="emp-id"> Emp Id <span>*</span></label>
            <input type="text" list="empIds" name="browser" id="emp-id" name="empId" placeholder="T10148"
              data-emp-ref-id />
            <datalist id="empIds">
              <option value="T10148" employeeId="1"></option>
              <option value="T10149" employeeId="2"></option>
              <option value="T10150" employeeId="3"></option>
              <option value="T10151" employeeId="4"></option>
              <option value="T10152" employeeId="5"></option>
              <option value="T10153" employeeId="6"></option>
            </datalist>
          </div>
          <div class="form-input">
            <label for="date"> Choose Date <span>*</span></label>
            <input type="date" id="popupDate" name="date" />
          </div>
          <div class="form-input">
            <label for="time"> Chooose Shift<span>*</span> </label>
            <select name="time" id="time">
              <option value="select" selected disabled>Select</option>
              <option value="1">APAC</option>
              <option value="2">APEX</option>
            </select>
          </div>
          <div class="form-submit">
            <button type="submit" id="submit-btn">Book Now</button>
          </div>
        </div>
        <div id="message" class="message"></div>
      </div>
    </div>
  </div>
  <div id="overlay" class="overlay"></div>
  <!-- available popup ends -->

  <!-- occupied popup starts -->
  <div class="modal-section modal" id="modal-section-occupied">
    <div class="modal-container">
      <div class="modal-header">
        <div class="title">Book the Seat</div>
        <button id="close-btn-occupied" class="close-btn">&times;</button>
      </div>
      <div class="modal-body">
        <p>This seat is already occupied</p>
      </div>
    </div>
  </div>
  <div id="overlay-occupied" class="overlay"></div>
  <!-- occupied popup ends -->

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    const menuIconButton = document.querySelector("[data-menu-icon-btn]");
    const sidebar = document.querySelector("[data-sidebar]");

    menuIconButton.addEventListener("click", () => {
      sidebar.classList.toggle("open");
    });
  </script>
  <script src="../js/booking-module.js"></script>
  <!-- <script src="../js/wing.js"></script> -->
</body>

</html>