<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>

     <style>

      body{
    padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;

    background-image: url("https://childsupport.floridarevenue.com/css/CustomCSS/Content/RegImages/password-lock.jpg") ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container{

    top:50%;
    left:50%;
    position:absolute;
    transform:translate(-50%,-50%)

}

.card{
    padding: 34px 35px 122px 40px;
    background: rgb(50,50,50);
    border-radius: 10px;
    height: 352px;


}
.control
{
    border: none;
    background: transparent;
    border-bottom: 1px solid white;
    padding: 23px;
    margin-bottom: 21px;
    width: 200px;
    color: white;
}


#submit{


    border-radius: 20px;
    padding: 10px 20px;
    background: dodgerblue;
    color:white;
    margin-top: 20px;

    border:none;
    outline:none;
    margin: left 50px;
    width: 245px;

}

a{

    font-size: 15px;
    color:whitesmoke;

}
 
#submit:hover{

    background-color: greenyellow;
    color: black;
    cursor: pointer;
}
img{
    border-radius: 50%;
    position: absolute;
    margin-left: 127px;
    margin-top: -39px;
    position:fixed;
}
h2{

    color: rgb(255, 255, 255);

}


p{

    color: rgb(255, 255, 255);
}

.footer{

    padding: 21px;
}


form{
    display: table-caption;
}

.error{
     
    color: rgb(253, 252, 252);
  font-size: smaller;
  font-family: unset;
}

     </style>
</head>
<body>
    

    
<div class="container">
    
      <div class="card">
        <h2>Reset Password</h2>
 

    
<form action="/reset-password/{{id}}/{{token}}" method="post" id="pass_reset">

<input type="hidden" name="email" value="{{email}}"><br>

<input type="password" name="password" id="password" placeholder="Password" class="control"><br>

<input type="password" name="cnfm_password" id="cnfm_password" class="control" placeholder="Confirm_Password"><br>


{{!-- <a href="#">forgot password?</a><br> --}}

<button type="submit" id="submit">Reset Now</button>
    </form>
      </div>
</div>

</body>
</html>



<!-- <script src="https://code.jquery.com/jquery-3.5.0.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
{{!-- <script src="sweetalert2.all.min.js"></script> --}}


<script>
   
   



$(function() {
   
  //  $("#registration_page").validate({
    $("form[id='pass_reset']").validate({ 
       rules: {
           
       
           password: {
             required: true,
            
               minlength: 8
           },
           
           cnfm_password: {
               required: true,
               equalTo: "#password"
           },
         
       },
       messages: {
      
           password: {
               required: "Please! Enter the Password ",
              
               minlength: "Min length should be 8 characters !"
           },
           cnfm_password: {
               required: "Enter Confirm Password ",
               equalTo: "Password Are not Match"
           },

//            submitHandler: function(form) {
//                form.submit(


//                 Swal.fire({
//   position: 'top-end',
//   icon: 'success',
//   title: 'Registered Successfully',
//   showConfirmButton: false,
//   timer: 1500
// })


//                );
//        },

       }
     
      
   });







 
});
</script>


  