<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Wing Creation</title>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="../public/css/nav.css" />
  <link rel="stylesheet" href="../public/css/userBooking.css">
</head>

<body>
  <header class="header">
    <div class="common-container">
      <div class="header-row">
        <div class="header-logo">
          <a href="#">
            <h3>Space - O</h1>
          </a>
        </div>
        <button class="menu-icon-btn" data-menu-icon-btn>
          <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" class="menu-icon">
            <g>
              <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
            </g>
          </svg>
        </button>
        <ul class="header-list">
          <li class="header-list-item">
            <a href="#" class="sidebar-link">
              <svg class="sidebar-icon" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false">
                <g>
                  <path d="M3 13h8V3H3v10zm0 8h8v-6H3v6zm10 0h8V11h-8v10zm0-18v6h8V3h-8z"></path>
                </g>
              </svg>
              <div class="header-list-item-name">Profile</div>
            </a>
          </li>
          <li class="header-list-item">
            <a href="/logout" class="sidebar-link">
              <svg class="sidebar-icon" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false">
                <g>
                  <path d="M3 13h8V3H3v10zm0 8h8v-6H3v6zm10 0h8V11h-8v10zm0-18v6h8V3h-8z"></path>
                </g>
              </svg>
              <div class="header-list-item-name">Logout</div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </header>
  <div class="main-container">
    <aside class="sidebar open" data-sidebar>
      <div class="top-sidebar">
        <a href="#" class="profile-logo"><img src="/logo.jpg" alt="Profile Picture" /></a>
        <div class="hidden-sidebar your-profile">Ganeshan</div>
        <div class="hidden-sidebar profile-name">T10148</div>
      </div>
      <div class="middle-sidebar">
        <ul class="sidebar-list">
          <li class="sidebar-list-item active">
            <a href="./wing.html" class="sidebar-link">
              <svg class="sidebar-icon" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false">
                <g>
                  <path d="M3 13h8V3H3v10zm0 8h8v-6H3v6zm10 0h8V11h-8v10zm0-18v6h8V3h-8z"></path>
                </g>
              </svg>
              <div class="hidden-sidebar">Dashboard</div>
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="./wingStructure.html" class="sidebar-link">
              <svg viewBox="0 0 24 24" class="sidebar-icon" preserveAspectRatio="xMidYMid meet" focusable="false">
                <g>
                  <path
                    d="M4 6H2v14c0 1.1.9 2 2 2h14v-2H4V6zm16-4H8c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-8 12.5v-9l6 4.5-6 4.5z">
                  </path>
                </g>
              </svg>
              <div class="hidden-sidebar">Wings</div>
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="./userBooking.html" class="sidebar-link">
              <svg class="sidebar-icon" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false">
                <g>
                  <path d="M19 9H2v2h17V9zm0-4H2v2h17V5zM2 15h13v-2H2v2zm15-2v6l5-3-5-3z"></path>
                </g>
              </svg>
              <div class="hidden-sidebar">Wing Creation</div>
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="#" class="sidebar-link">
              <svg class="sidebar-icon" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false">
                <g>
                  <path d="M19 9H2v2h17V9zm0-4H2v2h17V5zM2 15h13v-2H2v2zm15-2v6l5-3-5-3z"></path>
                </g>
              </svg>
              <div class="hidden-sidebar">Seat Booking</div>
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="#" class="sidebar-link">
              <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" class="sidebar-icon">
                <g>
                  <path
                    d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zM9 17H7v-7h2v7zm4 0h-2V7h2v10zm4 0h-2v-4h2v4z">
                  </path>
                </g>
              </svg>
              <div class="hidden-sidebar">Seat Availability</div>
            </a>
          </li>     
          
        </ul>
      </div>
    </aside>
    <main class="content">
      <div class="userBooking-master">
        <div id="wings">
            <!-- <div class="wingName"><div class="wing_name">Digital</div></div>        -->
    
        </div>
        <div id="wing_title">
            
        </div>
        <div class="container">
            <!-- <div>
                <div id="row1">
                    <div class="seat"></div>
                    <div class="seat"></div>
                </div>
            <div id="table">
                <div class="tableName"></div>
            </div>
            <div id="row2">
                <div class="seat"></div>
                <div class="seat"></div>
            </div>
            </div> -->
            
        </div>
      </div>
    </main>
  </div>
  <script>
    const menuIconButton = document.querySelector("[data-menu-icon-btn]");
    const sidebar = document.querySelector("[data-sidebar]");

    menuIconButton.addEventListener("click", () => {
      sidebar.classList.toggle("open");
    });
  </script>
  <script src="../public/js/userBooking.js"></script>
</body>

</html>