@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
*:is(::after, ::before) {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  font-family: "Open Sans", sans-serif;
}
#userBooking_header {
  background-color: #28293e;
  display: grid;
  grid-template-columns: repeat(2, auto);
}
#logo {
  color: white;
  font-size: 20px;
  font-weight: 700;
  display: grid;
  justify-content: start;
  justify-items: center;
  align-items: center;
}
#logo > div {
  padding: 20px;
}
header nav {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  justify-items: center;
  justify-content: end;
  font-weight: bold;
}
header nav a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 20px;
}
#container {
  display: grid;
  grid-template-columns: 20vw 75vw;
  justify-content: space-between;
  height: 100vh;
  margin: 15px;
}
#container_left{
    border-radius: 2vw;
    background-color: #28293E;
    /* background-color: #0034c4; */
    opacity: 1;
    font-weight: bold;
}

#profile_view {
  display: grid;
  justify-items: center;
  align-items: center;
  margin-top: 15px;
  height: 30vh;
  border-bottom: 1px solid white;
}
#profile_pht {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: aliceblue;
}
#profile_name {
  color: white;
  font-weight: bold;
}
#side_bar {
  margin-top: 10px;
  display: grid;
  justify-items: center;
}
#side_bar a {
  text-decoration: none;
  color: white;
  /* border: 1px solid red;   */
  padding: 7px 0px 7px 0px;
  width: 90%;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
#container_right {
  border-radius: 2vw;
  /* background-color: beige; */
}
#side_bar a:hover {
  background-color: aliceblue;
  color: #28293e;
  border-radius: 2vh;
}
