.chair {
  width: 20%;
  height: 25px;
  background-color: green;
  margin: 10px;
  position: relative;
  top: -36px;
  left: 70px;
  flex-wrap: wrap;
  border-radius: 5px;
  align-self: stretch;
  border: 2px solid black;
}
.dude {
  display: none;
}

.chair:hover + .dude {
  display: block;
  color: red;
}
.table {
  width: 35%;
  height: 130px;
  background: rgba(159, 244, 249, 0.904);
  margin: 30px;
  box-sizing: border-box;
  display: flex;
  /* justify-content: flex-start; */
  min-width: 20px;
  border-radius: 20px;
  /* justify-content: space-evenly; */
  border: 1px solid black;
}

.chair:nth-child(3) {
  position: relative;
  left: -80px;
  top: 120px;
}
.chair:nth-child(4) {
  position: relative;
  top: 120px;
  left: -80px;
}

.available {
  background-color: green;
}
.danger {
  background-color: red;
}

.booked {
  background-color: orange;
}
a {
  color: white;
}
/*body a {
   color: white;
  text-decoration: none;
  align-self: stretch;
  padding: 0px;
  font-weight: 1000;
  margin-top: 0%; 
}*/
.seat {
  background-color: green;
  height: 26px;
  width: 32px;
  margin: 3px;
  font-size: 50px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.seat.selected {
  background-color: orange;
}

.seat.sold {
  background-color: rgb(250, 8, 8);
}

.showcase {
  margin: 40px;
  margin-right: auto;
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: right;
  align-self: flex-end;
  font-weight: bold;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0px;
}
.showcase li small {
  margin-left: 2px;
}

.Seat-container {
  margin: 0 0;
}

.Seat-container select {
  background-color: #fff;
  border: 3px solid black;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.opt {
  display: flex;
  /* width: 900px; */
  height: 30px;
  align-self: flex-start;
  justify-content: center;
  justify-content: space-evenly;
  margin: 30px;
  gap: 60px;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-flow: wrap;
  margin: 50px;
}
.date input {
  background-color: #fff;
  border: 3px solid black;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.down {
  margin: 15px;
  justify-content: center;
  align-items: center;
}

.Slot {
  margin: 0 0;
}

.Slot select {
  background-color: #fff;
  border: 3px solid black;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.popuptext {
  visibility: visible;
  position: relative;
  top: 35px;
  left: 3px;
  display: inline-block;
  border: 2px solid black;
  box-sizing: content-box;
  border-radius: 3px;
  padding: 4px;
  background-image: white;
  border-radius: 5px;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Check {
  background-color: #fff;
  border: 3px solid black;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.Check:hover {
  color: red;
}
